.container{
    background-image: url(../../assets/images/loginbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    .login{
        width: 29rem;
        height: 18rem;
        margin: auto;
        background-color: #ffffff30;
        .title{
            size:18px;
            line-height: 18px;
            font-family: roboto;
            display: block;
           text-align: center;
           padding: 10px;
           color:#171442c7;
        }
        .blocInput{
            display: grid;
            margin: 10px 30px;
            label{
                padding: 0 5px;
            }
            input{
                height: 40px;
    border: none;
    border-radius: 10px;
    padding: 0 11px;
    font-size: 15px;
    line-height: 15px;

            }
        }
        .sendButton{
            display: block;
            margin: auto;
        }

    }
}
